*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

.navbar{
    display: flex;
    background-color: #00a2ff;
    height: 120px;
    justify-content: space-between;
    align-items: center;
}

.navbar-links{
    list-style: none;
    display: flex;
}

.navbar-items{
    margin-right: 1rem;
}

.navbar a:hover{
    color: rgb(255, 255, 255);
}

.navbar a{
    color: black;
    text-decoration: none;
    font-size: xx-large;
    padding-right: 50px;
} 

.logo{
    padding-left: 20px;
    width: 450px;
    cursor: pointer;
}

.carrito{
    position: relative;
    margin-right: 100px;
    cursor: pointer;
}

.badge{
    position: absolute;
    top: 0;
    right: 0;
    background-color:#ff9a00;
    color: white;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 50%;
    transform: translate(30%, -30%);
}
.saludo{
    background-color: #ff9a00;
    text-align: center;
}